body {
	background-color: #b7d1c0
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #ddd1;
}


#header {
	position: relative;
	text-align: center;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

ul{
    text-align: left;
	list-style-type: none;
	position: relative;
}

li {
	display: block;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #aaa;
	padding: 0px;
	border-radius: 1px 1px;
	background-color: #248
}
